{:input {:user :k8s
         :k8s {:external-ip "external-ip"}
         :cert-manager :letsencrypt-prod-issuer
         :apple {:fqdn "apple-host-name"}
         :nexus {:fqdn "nexus-host-name"}}
 :expected {:dda-k8s {:user :k8s
                      :k8s {:external-ip "-   external-ip/32" :external-ipv6 ""}
                      :cert-manager {:env-flag "prod" :acme-flag ""}
                      :apple {:fqdn "apple-host-name"
                              :secret-name "apple-host-name"
                              :cluster-issuer "letsencrypt-prod-issuer"}
                      :nexus {:fqdn "nexus-host-name"
                              :secret-name "nexus-host-name"
                              :cluster-issuer "letsencrypt-prod-issuer"}}}}
