{:input {:user :k8s
         :password "password"                                 ; k8s user pwd on os level
         :ssh {:ssh-authorized-keys ["ssh-rsa AAAA..LL comment"] ; ssh authorized keys
               :ssh-key {:public-key "ssh-rsa AAAA..LL comment"  ; ssh-key for git sync
                         :private-key "SOME_PRIVATE_SSH_KEY"}}
         :kubectl {:external-ip "external-ip"
                   :host-name "hostname"
                   :letsencrypt-prod false
                   :nexus-host-name "nexus-host-name"}}
 :expected {:dda-k8s {:user :k8s
                      :kubectl-config {:external-ip "external-ip"
                                       :host-name "hostname"
                                       :letsencrypt-prod false
                                       :nexus-host-name "nexus-host-name"
                                       :nexus-secret-name "nexus-host-name"
                                       :nexus-cluster-issuer "letsencrypt-staging-issuer"}}}}