{:input {:user :k8s                                 ; k8s user pwd on os level
         :ssh {:ssh-authorized-keys ["ssh-rsa AAAA..LL comment"] ; ssh authorized keys
               :ssh-key {:public-key "ssh-rsa AAAA..LL comment"  ; ssh-key for git sync
                         :private-key "SOME_PRIVATE_SSH_KEY"}}
         :kubectl {:external-ip "external-ip"
                   :host-name "hostname"
                   :letsencrypt-prod true
                   :nexus-host-name "nexus-host-name"}}
 :expected {:settings #{:bashrc-d}
            :ssh-authorized-keys ["ssh-rsa AAAA..LL comment"]
            :ssh-key {:private-key "SOME_PRIVATE_SSH_KEY"
                      :public-key "ssh-rsa AAAA..LL comment"}}}