{:input {:user :k8s
         :k8s {:external-ip "external-ip"}
         :cert-manager :selfsigned-issuer
         :apple {:fqdn "apple-host-name"}
         :nexus {:fqdn "nexus-host-name"}}
 :expected {:dda-k8s {:user :k8s
                      :networking {:advertise-ip "192.168.5.1"}
                      :k8s {:external-ip "-   external-ip/32" :external-ipv6 ""}
                      :cert-manager {}
                      :apple {:fqdn "apple-host-name"
                              :secret-name "apple-host-name"
                              :cluster-issuer "selfsigned-issuer"}
                      :nexus {:fqdn "nexus-host-name"
                              :secret-name "nexus-host-name"
                              :cluster-issuer "selfsigned-issuer"}}}}
