{:input {:user :k8s                                 ; k8s user pwd on os level
         :kubectl {:external-ip "external-ip"
                   :host-name "hostname"
                   :letsencrypt-prod true
                   :nexus-host-name "nexus-host-name"}}
 :expected {:settings #{:bashrc-d}}}