apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-{{env-flag}}-issuer
spec:
  acme:
    email: admin@meissa-gmbh.de
    server: https://acme{{acme-flag}}-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-{{env-flag}}-account-key
    solvers:
    - http01:
        ingress:
          class:  nginx
